.App {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.draggable-container {
  margin-top: 20px;
}

.draggable {
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.draggable.red {
  color: red;
}

.dropzone {
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  border-bottom: 2px dashed #ccc;
  min-width: 50px;
  text-align: center;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

p {
  margin-top: 20px;
  font-size: 18px;
}
.correct {
  background-color: lightgreen; /* Màu nền xanh cho ô trống đúng */
}

.incorrect {
  background-color: lightcoral; /* Màu nền đỏ cho ô trống sai */
}
